<ion-header>
  <ion-toolbar>
    <app-header></app-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <div class="register-container">
      <ion-card>
        <ion-card-header>
          <ion-card-title class="ion-text-center">Registro</ion-card-title>
        </ion-card-header>
        <ion-item>
          <ion-input
            formControlName="username_user"
            type="text"
            id="username"
            placeholder="Ingrese su nombre"
          ></ion-input>
        </ion-item>
        <div *ngIf="registerForm.get('username_user')?.hasError('required') && registerForm.get('username_user')?.touched">
          <ion-text color="danger">El nombre de usuario es requerido.</ion-text>
        </div>

        <ion-item>
          <ion-input
            formControlName="email_user"
            type="email"
            id="email"
            placeholder="Ingrese su correo electrónico"
          ></ion-input>
        </ion-item>
        <div *ngIf="registerForm.get('email_user')?.hasError('required') && registerForm.get('email_user')?.touched">
          <ion-text color="danger">El correo electrónico es requerido.</ion-text>
        </div>
        <div *ngIf="registerForm.get('email_user')?.hasError('email') && registerForm.get('email_user')?.touched">
          <ion-text color="danger">Ingresa un correo electrónico válido.</ion-text>
        </div>
        
          <ion-item>
            <ion-input 
            formControlName="phone_user" 
            type="tel" id="phone_user"
            placeholder="Ingrese su número de teléfono"
            oninput="this.value = this.value.replace(/[^0-9]/g, '');">
            </ion-input>
          </ion-item>
          <div *ngIf="registerForm.get('phone_user')?.hasError('minlength') && registerForm.get('phone_user')?.touched">
            <ion-text color="danger">El telefono debe tener 10 digios</ion-text>
          </div>

        <ion-item>
          <ion-input
            formControlName="password_user"
            type="password"
            id="password"
            placeholder="Ingrese su contraseña"
          ></ion-input>
        </ion-item>
        <div *ngIf="registerForm.get('password_user')?.hasError('required') && registerForm.get('password_user')?.touched">
          <ion-text color="danger">La contraseña es requerida.</ion-text>
        </div>
        <div *ngIf="registerForm.get('password_user')?.hasError('minlength') && registerForm.get('password_user')?.touched">
          <ion-text color="danger">La contraseña debe tener al menos 8 caracteres.</ion-text>
        </div>
        <div *ngIf="registerForm.get('password_user')?.hasError('uppercase') && registerForm.get('password_user')?.touched">
          <ion-text color="danger">La contraseña debe contener al menos una letra mayúscula.</ion-text>
        </div>
        <div *ngIf="registerForm.get('password_user')?.hasError('specialCharacter') && registerForm.get('password_user')?.touched">
          <ion-text color="danger">La contraseña debe contener al menos un carácter especial (por ejemplo, !#$%^&.*).</ion-text>
        </div>
        <div *ngIf="registerForm.get('password_user')?.hasError('number') && registerForm.get('password_user')?.touched">
          <ion-text color="danger">La contraseña debe contener al menos un numero</ion-text>
        </div>

        <ion-item>
          <ion-input 
          type="password" 
          id="confirm_password"
          placeholder="Confirme su contraseña"
          required>
        </ion-input>
        </ion-item>
        <div >
          <ion-button color="primary" [routerLink]="['/home']">Back</ion-button>
          <ion-button [disabled]="!registerForm.valid" (click)="onRegister()" color="primary"
            [routerLink]="['/login']">crear cuenta</ion-button>
        </div>
      </ion-card>
    </div>
  </form>
</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>