.phone-container {
    display: flex;
    flex-direction: row;
  }
  
  .phone-container ion-item {
    flex: 1; /* Para que cada ion-item ocupe el mismo ancho */
    margin-right: 10px; /* Espacio entre los ion-items */
  }
  