ion-header,
p,
ion-title {
  font-family: 'Montserrat', sans-serif;
}

ion-button {
  color: var(--ion-color-primary);
}

.left-menu {
  ion-list {
    ion-item {
      ion-label {
        --color: var(--ion-color-primary);
        font-family: 'Montserrat', sans-serif;
      }

      ion-icon {
        color: var(--ion-color-primary);
      }
    }
  }
}

.login {
  ion-list {
    ion-item {
      --color: var(--ion-color-primary);
      font-family: 'Montserrat', sans-serif;
    }
  }
}

.toolbar-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    border: 1rem;
}

.menu-outline {
    display: none;
}

@media (max-width: 800px) {
    .toolbar-row {
        display: none;
    }
    .menu-outline {
        display: block;
    }
}

#slide-menu {
  display: none;

  @media (max-width: 800px) {
    display: block;
  }
}

.prueba {
  display: block;

  @media (max-width: 600px) {
    display: none;
  }
}