<ion-content [fullscreen]="true">
  <ion-text center>
    <h1 class="ion-padding" style="text-align: center">Usuario</h1>
  </ion-text>

  <ion-card>
    <ion-card-header> User Information </ion-card-header>
    <ion-card-content>
      <div *ngIf="userData">
        <p>Email: {{ userData.results[0].email_user}}</p>
        <!-- Agrega más campos según la estructura de userData -->
      </div>
      <div *ngIf="!userData">
        <p>Loading user data...</p>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-button (click)="logout()" color="primary" 
    >Cerrar sesión</ion-button
  >
</ion-content>
