<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <app-header></app-header>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-content>
      <div *ngIf="userData">
        <p style="text-align: center">
          ¡Bienvenido {{ userData.results[0].username_user}} !
        </p>
      </div>
      <div *ngIf="!userData">
        <p>Loading user data...</p>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-button color="primary" [routerLink]="['/vista-productos']"
    >Ver producto</ion-button
  >

  <ion-col
    *ngFor="let category of mainCategoryInformation"
    size-lg="4"
    size-md="6"
    size-sm="12"
    size="12"
  >
    <img
      alt="image_category"
      src="assets/imgCategories/{{category.id}}{{category.name}}.webp"
      style="display: block; margin: 0 auto; width: 200px; height: 150px"
    />
  </ion-col>

  <ion-footer>
    <ion-toolbar>
      <app-footer></app-footer>
    </ion-toolbar>
  </ion-footer>
</ion-content>
