<ion-header [translucent]="true">
  <script src="https://accounts.google.com/gsi/client" async></script>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text center>
    <h1 class="ion-padding" style="text-align: center">Recuperar contraseña</h1>
  </ion-text>

  <form>
    <div class="ion-padding">
      <ion-card>
        <ion-item>
          <label for="email" class="ion-text-bold"></label>
          <ion-input
            type="email"
            id="email"
            placeholder="Correo electrónico registrado"
          ></ion-input>
        </ion-item>
      </ion-card>
      <div class="button-container-login" flex-direction="column">
        <ion-button color="primary" [routerLink]="['/login']"
          >recuperar</ion-button>
      </div>  
    </div>
  </form>
</ion-content>
