<div>
  <h3>Poductos recientes</h3>
  <swiper-container
    [modules]="swiperModules"
    [breakpoints]="breakpoints"
    [slidesPerView]="2"
    [spaceBetween]="10"
    [mousewheel]="{
      forceToAxis: true,
      invert: false,
      releaseOnEdges: true,
      sensitivity: 1
    }"
  >
    <swiper-slide *ngFor="let p of products" (click)="prueba()">
      <ion-card button="true" loading="lazy">
        <img [src]="p.image_product" loading="lazy" />
        <ion-card-subtitle>
          {{ p.name_product }}
        </ion-card-subtitle>
      </ion-card>
    </swiper-slide>
  </swiper-container>
</div>

<div>
  <h3>Poductos que te gustan</h3>
  <swiper-container
    [modules]="swiperModules"
    [breakpoints]="breakpoints"
    [slidesPerView]="2"
    [spaceBetween]="10"
    [mousewheel]="{
      forceToAxis: true,
      invert: false,
      releaseOnEdges: true,
      sensitivity: 1
    }"
  >
    <swiper-slide *ngFor="let p of products">
      <ion-card button="true">
        <img [src]="p.image_product" />
        <ion-card-subtitle>{{ p.name_product }}o</ion-card-subtitle>
      </ion-card>
    </swiper-slide>
  </swiper-container>
</div>

<div>
  <h3>Poductos recomendados</h3>
  <swiper-container
    [modules]="swiperModules"
    [breakpoints]="breakpoints"
    [slidesPerView]="2"
    [spaceBetween]="10"
    [mousewheel]="{
      forceToAxis: true,
      invert: false,
      releaseOnEdges: true,
      sensitivity: 1
    }"
  >
    <swiper-slide *ngFor="let p of products">
      <ion-card button="true">
        <img [src]="p.image_product" />
        <ion-card-subtitle>{{ p.name_product }}o</ion-card-subtitle>
      </ion-card>
    </swiper-slide>
  </swiper-container>
</div>

<div>
  <h3>Poductos en oferta</h3>
  <swiper-container
    [modules]="swiperModules"
    [breakpoints]="breakpoints"
    [slidesPerView]="2"
    [spaceBetween]="10"
    [mousewheel]="{
      forceToAxis: true,
      invert: false,
      releaseOnEdges: true,
      sensitivity: 1
    }"
  >
    <swiper-slide *ngFor="let p of products">
      <ion-card button="true">
        <img [src]="p.image_product" />
        <ion-card-subtitle>{{ p.name_product }}o</ion-card-subtitle>
      </ion-card>
    </swiper-slide>
  </swiper-container>
</div>
