swiper-container {
  --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #cccccc);
  --swiper-pagination-color: var(--ion-color-primary, #a2ff00);
  --swiper-pagination-progressbar-bg-color: rgba(
    var(--ion-text-color-rgb, 0, 0, 0),
    0.25
  );
  --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
  --swiper-scrollbar-drag-bg-color: rgba(
    var(--ion-text-color-rgb, 0, 0, 0),
    0.5
  );
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: var(--swiper-theme-color);
}

.categories {
  cursor: pointer;
}

swiper-slide {
  justify-content: center;
  align-items: center;
  display: flex;
}

swiper-slide ion-card {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
  --box-shadow: none;
  text-align: center;
}

swiper-slide div {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.titulos {
  text-align: center;
  color: #5321bf;
}

.buttons-heart-cart {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0;
  z-index: 100;
}

.buttons-heart-cart ion-button {
  --background: none;
  --border-radius: 0;
  --border-width: 0;
  --box-shadow: none;
  --padding-end: 0;
  --padding-start: 0;
  --background-hover: none;
  --background-activated: none;
  color: rgb(67, 67, 67); /* color negro por defecto */
}

.heart-button:hover ion-icon,
.heart-button:active ion-icon {
  color: rgb(255, 0, 0) !important; /* color rojo al pasar el ratón o hacer clic */
}

.cart-button:hover ion-icon,
.cart-button:active ion-icon {
  color: var(--ion-color-primary) !important; /* color morado al pasar el ratón o hacer clic */
}

.buttons-heart-cart ion-button ion-icon {
  color: inherit; /* hereda el color del botón */
  font-size: 1.5rem;
}
