<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center; background: none">MarkMelo</ion-title>
  </ion-toolbar>
  <script src="https://accounts.google.com/gsi/client" async></script>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text center>
    <h1 class="ion-padding" style="text-align: center">Iniciar sesión</h1>
  </ion-text>

<form (submit)="login($event)">
  <div class="ion-padding">
    <ion-card>
      <ion-item>
        <label for="email" class="ion-text-bold"></label>
        <ion-input
          type="email"
          name="email"
          id="email"
          placeholder="Ingresa tu correo electrónico"
          [(ngModel)]="email" 
        ></ion-input>
      </ion-item>
      <ion-item>
        <label for="password" class="ion-text-bold"></label>
        <ion-input
          type="password"
          name="password"
          id="password"
          placeholder="Ingresa tu contraseña"
          [(ngModel)]="password" 
        ></ion-input>
      </ion-item>
      <button>login</button>
    </ion-card>
  </div>
</form>
    
<div class="ion-padding"> 
      <div>
        <a [routerLink]="['/reset-password']">¿Olvidaste tú contraseña?</a>
        <p>¿No tienes cuenta? <a [routerLink]="['/singup']">Registrate</a></p>
      </div>
      <div class="button-container-login">
        <ion-button  color="primary" [routerLink]="['/login']"
          >Iniciar sesión</ion-button
        >
        <ion-button (click)="signInWithFB()" class="social"
          >Iniciar con Facebook</ion-button
        >
        <ion-button *ngIf="!socialUser" color="primary" class="google">
          <asl-google-signin-button
            type="standard"
            size="small"
            theme="filled_blue"
          ></asl-google-signin-button>
        </ion-button>
      </div>
      <div class="user-info" *ngIf="socialUser">
        <img src="{{ socialUser.photoUrl }}" alt="Foto de perfil del usuario" />
        <div>
          <h2>{{ socialUser.name }}</h2>
          <h2>{{ socialUser.email }}</h2>
        </div>
      </div>
    </div>
</ion-content>
