<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>MarkMelo</ion-title>
  </ion-toolbar>
  <script src="https://accounts.google.com/gsi/client" async></script>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v19.0&appId=722074826741941"
    nonce="8MUJQzur"></script>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text center>
    <h1 class="ion-padding">Iniciar sesión</h1>
  </ion-text>

  <form [formGroup]="loginForm" class="ion-padding">
    <div class="button-container-login">
      <ion-card>
        <ion-item>
          <label for="email" class="ion-text-bold"></label>
          <ion-input formControlName="email_user" type="email" id="email" label="Correo electrónico"
            labelPlacement="floating" placeholder="Ingresa tu correo electrónico"></ion-input>
        </ion-item>
        <ion-item>
          <label for="password" class="ion-text-bold"></label>
          <ion-input formControlName="password_user" type="password" id="password" label="Contraseña"
            labelPlacement="floating" placeholder="Ingresa tu contraseña"></ion-input>
          <ion-icon name="eye-outline" slot="end" id="togglePassword" (click)="togglePasswordVisibility()"></ion-icon>
        </ion-item>
      </ion-card>
      <a [routerLink]="['/reset-password']">¿Olvidaste tú contraseña?</a>
      <p>¿No tienes cuenta? <a [routerLink]="['/singup']">Registrate</a></p>
    </div>
  </form>

  <div class="button-container-login">
    <ion-button (click)="onLogin()" color="primary">Iniciar sesión</ion-button>
    <ion-button (click)="signInWithFB()" class="social" color="primary">
      <ion-icon name="logo-facebook"></ion-icon>
      Acceder con Facebook
    </ion-button>
    <div class="google">
      <asl-google-signin-button type="standard" size="large" text="signin_with" shape="square" theme="outline"
        logo_alignment="center"></asl-google-signin-button>
    </div>
  </div>
  <div class="politicas">
    <p>Al ingresar está aceptando nuestras <a href="/politicas-privacidad">políticas de privacidad</a> y nuestros <a
        href="/terminos-condiciones">terminos y condiciones</a>.</p>
  </div>
</ion-content>