<ion-header>
  <ion-toolbar>
    <app-header></app-header>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="product" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" sizeLg="8" offsetLg="2">

        <app-gallery-product [GalleryProductComponent]="gallery_products"></app-gallery-product>

        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ product.name_product }}</ion-card-title>
            <ion-card-subtitle>{{ product.price_product | currency:'COP' }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div [innerHTML]="product.description_product"></div>
            <p><strong>Stock:</strong> {{ product.stock_product }}</p>
            <p><strong>Delivery Time:</strong> {{ product.delivery_time_product }} days</p>

            <div class="flex mt-6 items-center">
              <span class="title-font font-medium text-2xl text-gray-900">{{ product.price_product | currency:'COP' }}</span>
              <ion-button expand="block" color="primary" class="ml-auto" [routerLink]="['/shopping-cart']" (click)="addToCart(product)">
                Agregar al carrito
              </ion-button>
              <ion-button fill="clear" class="ml-4" shape="round">
                <ion-icon slot="icon-only" name="heart"></ion-icon>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-footer>
    <app-footer></app-footer>
  </ion-footer>

</ion-content>





<!--ion-header>
  <ion-toolbar>
    <app-header></app-header>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="product">

  <div *ngIf="product">
  <img [src]="product.image_product">
  
  <app-gallery-product [GalleryProductComponent]="gallery_products"></app-gallery-product>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ product.name_product }}</ion-card-title>
      <ion-card-subtitle>{{ product.price_product | currency:'COP' }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div [innerHTML]="product.description_product"></div>
      <p><strong>Stock:</strong> {{ product.stock_product }}</p>
      <p><strong>Delivery Time:</strong> {{ product.delivery_time_product }} days</p>
    </ion-card-content>
  </ion-card>

  <ion-footer>
    <app-footer></app-footer>
  </ion-footer>

</ion-content-->


