<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Privacidad</title>
</head>

<body>
    <ion-app>
        <ion-header>
            <ion-toolbar>
                <ion-title>Política de Privacidad</ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-content class="ion-padding">
            <ion-card>
                <ion-card-header>
                    <ion-card-title>Datos de identificación personal</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p>Podemos recopilar información de identificación personal de los usuarios de diversas formas,
                        entre otras, cuando los usuarios visitan nuestro sitio, se registran en el sitio, realizan un
                        pedido y en relación con otras actividades, servicios, funciones o recursos que ponemos a su
                        disposición en nuestro sitio. Es posible que se solicite a los Usuarios, según proceda, su
                        nombre, dirección de correo electrónico, dirección postal y número de teléfono,</p>
                    <p>No obstante, los usuarios pueden visitar nuestro sitio de forma anónima.</p>
                    <p>Sólo recopilaremos información de identificación personal de los usuarios si éstos nos la
                        facilitan voluntariamente. Los usuarios siempre pueden negarse a suministrar información de
                        identificación personal, salvo que ello les impida participar en determinadas actividades
                        relacionadas con el Sitio.</p>
                </ion-card-content>

                <ion-card-header>
                    <ion-card-title>Información de identificación no personal</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p>Podemos recopilar información de identificación no personal sobre los usuarios siempre que
                        interactúen con nuestro Sitio. La información de identificación no personal puede incluir el
                        nombre del navegador, el tipo de ordenador e información técnica sobre los medios de conexión de
                        los Usuarios a nuestro Sitio, como el sistema operativo y los proveedores de servicios de
                        Internet utilizados y otra información similar.</p>
                </ion-card-content>

                <ion-card-header>
                    <ion-card-title>Cookies del navegador web</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p>Nuestro Sitio puede utilizar «cookies» para mejorar la experiencia del Usuario. El navegador web
                        del Usuario coloca cookies en su disco duro con fines de registro y, a veces, para rastrear
                        información sobre él. El usuario puede optar por configurar su navegador para que rechace las
                        cookies o para que le avise cuando se envíen cookies. Si lo hace, tenga en cuenta que algunas
                        partes del Sitio pueden no funcionar correctamente.</p>
                </ion-card-content>

                <ion-card-header>
                    <ion-card-title>Cómo utilizamos la información recopilada</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p>marKmelo recoge y utiliza la información personal de los Usuarios para los siguientes fines:</p>
                    <ion-label>
                        <strong>Para enviar correos electrónicos periódicos</strong>
                    </ion-label>
                    <p>La dirección de correo electrónico que los Usuarios facilitan para la tramitación de sus pedidos,
                        sólo se utilizará para enviarles información y actualizaciones relativas a su pedido. También
                        podrá ser utilizada para responder a sus consultas y/u otras peticiones o preguntas. Si el
                        Usuario decide inscribirse en nuestra lista de correo, recibirá correos electrónicos que pueden
                        incluir noticias de la empresa, actualizaciones, información relacionada con productos o
                        servicios, etc. Si en algún momento el usuario desea darse de baja de la recepción de futuros
                        correos electrónicos, incluimos instrucciones detalladas para darse de baja en la parte inferior
                        de cada correo electrónico o el usuario puede ponerse en contacto con nosotros a través de
                        nuestro sitio.</p>
                </ion-card-content>

                <ion-card-header>
                    <ion-card-title>Cómo protegemos su información</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p>Adoptamos prácticas adecuadas de recopilación, almacenamiento y procesamiento de datos y medidas
                        de seguridad para proteger contra el acceso no autorizado, la alteración, divulgación o
                        destrucción de su información personal, nombre de usuario, contraseña, información de
                        transacciones y datos almacenados en nuestro Sitio.</p>
                </ion-card-content>

                <ion-card-header>
                    <ion-card-title>Cumplimiento de la ley de protección de la privacidad en línea de los
                        niños</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p>Proteger la privacidad de los más jóvenes es especialmente importante. Por esa razón, nunca
                        recopilamos ni mantenemos información en nuestro Sitio de aquellos que realmente sabemos que son
                        menores de 13 años, y ninguna parte de nuestro sitio web está estructurada para atraer a menores
                        de 13 años.</p>
                </ion-card-content>

                <ion-card-header>
                    <ion-card-title>Cambios en esta política de privacidad</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p>marKmelo tiene la facultad de actualizar esta política de privacidad en cualquier momento. Cuando
                        lo hagamos, revisaremos la fecha de actualización en la parte inferior de esta página. Animamos
                        a los usuarios a comprobar con frecuencia esta página para cualquier cambio para mantenerse
                        informado acerca de cómo estamos ayudando a proteger la información personal que recopilamos.
                        Usted reconoce y acepta que es su responsabilidad revisar esta política de privacidad
                        periódicamente y estar al tanto de las modificaciones.</p>
                </ion-card-content>

                <ion-card-header>
                    <ion-card-title>Su aceptación de estas condiciones</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p>El uso de este sitio implica la aceptación de esta política y de las condiciones del servicio. Si
                        no está de acuerdo con esta política, no utilice nuestro Sitio. Su uso continuado del Sitio tras
                        la publicación de cambios en esta política se considerará su aceptación de dichos cambios.</p>
                </ion-card-content>
            </ion-card>

            <ion-card>
                <ion-card-header>
                    <ion-card-title>Cómo ponerse en contacto con nosotros</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p>Si tiene alguna pregunta sobre esta política de privacidad, las prácticas de este sitio o sus
                        relaciones con este sitio, póngase en contacto con nosotros en</p>
                    <p>
                        marKmelo<br>
                        <a href="http://www.markmelo.com">www.markmelo.com</a><br>
                        +57 3244647160<br>
                        <a href="mailto:info&#64;markmelo.com">info&#64;markmelo.com</a>
                    </p>
                    <p>Última Actualización: mayo 24 de 2024.</p>
                </ion-card-content>
            </ion-card>
        </ion-content>
    </ion-app>
</body>

</html>