<ion-content [fullscreen]="true">
  <ion-card *ngIf="product">
    <div>
      <ion-buttons slot="end">
        <ion-button aria-label="Favorite">
          <ion-icon name="heart" aria-hidden="true"></ion-icon>
        </ion-button>
        <ion-button aria-label="Share">
          <ion-icon name="cart" aria-checked="true"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>

    <img src="https://catalogospromocionales.com/{{product.imageUrl}}" />
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let p of product.imagenes">
          <ion-img src="{{p}}"> </ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card-content>
      <ion-item class="price-item">
        <div class="price-info">
          <ion-label class="price-value"
            >{{ selectedPrice | currency:'COP':'symbol':'1.0-0' }}</ion-label
          >
          <ion-label *ngIf="selectedDescription" class="description-label"
            >{{ selectedDescription }}</ion-label
          >
        </div>
      </ion-item>

      <ion-accordion-group>
        <ion-accordion
          *ngIf="product.precio1 !== -1.00"
          (click)="selectPrice(product.precio1, product.descripcionPrecio1)"
        >
          <ion-item slot="header">
            {{ product.precio1 | currency:'COP':'symbol':'1.0-0' }}
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-label>{{ product.descripcionPrecio1 }}</ion-label>
          </div>
        </ion-accordion>
        <ion-accordion
          *ngIf="product.precio2 !== -1.00"
          (click)="selectPrice(product.precio2, product.descripcionPrecio2)"
        >
          <ion-item slot="header">
            {{ product.precio2 | currency:'COP':'symbol':'1.0-0' }}
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-label>{{ product.descripcionPrecio2 }}</ion-label>
          </div>
        </ion-accordion>
        <ion-accordion
          *ngIf="product.precio3 !== -1.00"
          (click)="selectPrice(product.precio3, product.descripcionPrecio3)"
        >
          <ion-item slot="header">
            {{ product.precio3 | currency:'COP':'symbol':'1.0-0' }}
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-label>{{ product.descripcionPrecio3 }}</ion-label>
          </div>
        </ion-accordion>
        <ion-accordion
          *ngIf="product.precio4 !== -1.00"
          (click)="selectPrice(product.precio4, product.descripcionPrecio4)"
        >
          <ion-item slot="header">
            {{ product.precio4 | currency:'COP':'symbol':'1.0-0' }}
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-label>{{ product.descripcionPrecio4 }}</ion-label>
          </div>
        </ion-accordion>
        <ion-accordion
          *ngIf="product.precio5 !== -1.00"
          (click)="selectPrice(product.precio5, product.descripcionPrecio5)"
        >
          <ion-item slot="header">
            {{ product.precio5 | currency:'COP':'symbol':'1.0-0' }}
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-label>{{ product.descripcionPrecio5 }}</ion-label>
          </div>
        </ion-accordion>
      </ion-accordion-group>
      <div class="buttons-product">
        <ion-button> Comprar </ion-button>
        <ion-buttons class="button-cart-heart">
          <ion-button>
            <ion-icon name="cart"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon name="heart"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>

      <div>
        <ion-grid>
          <ion-label>
            <h2>Estilos disponibles</h2>
          </ion-label>
          <ion-row>
            <ion-col>
              <ion-label>Color</ion-label>
            </ion-col>
            <ion-col>
              <ion-label>Cantidad disponible</ion-label>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let s of stock">
            <ion-col *ngIf="s.bodegaLocal > 0">
              <ion-label>{{ s.color }}</ion-label>
            </ion-col>
            <ion-col *ngIf="s.bodegaLocal > 0">
              <ion-label>{{ s.bodegaLocal }}</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="div-mas-informacion">
        <div class="detalles">
          <h2>Detalles</h2>
          <ion-label [innerHTML]="product.resumen"></ion-label>
        </div>
        <div class="caracteristicas">
          <h2>Características</h2>
          <ion-label [innerHTML]="product.descripcionproduct"></ion-label>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
