<ion-content>
  <ion-header>
    <ion-toolbar>
      <app-header></app-header>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-col size="12">
      <h1>Políticas marKmelo</h1>
    </ion-col>

    <ion-col>
      <h2>Políticas sobre el método de compra artículos promocionales regalos empresa.</h2>
      <p>Para realizar una compra con nosotros debe solicitar una cotización formal con alguno de nuestros asesores
        comerciales vía WhatsApp o correo corporativo según nuestro método de compra. A través de la página web puedes
        realizar pedidos pero tu compra no será aprobada sino hasta que realices el pago del valor de la cotización
        formal recibida después de haber validado con alguno de nuestros asesores.
        Las cancelaciones de orden tienen una multa de $100.000+ IVA todos los envíos son pago contra entrega a nivel
        nacional compras superiores a 500,000 pesos no tiene un costo de envío en Bogotá te recomendamos validar costos
        y técnicas de marcación y solicitarlos a un asesor en la cotización formal ya que es el único documento válido
        para realizar una compra con nosotros recuerda que somos distribuidores directos del fabricante</p>
    </ion-col>

    <ion-col>
      <h2>Política de privacidad de la información</h2>
      <p>Lo estipulado en la Ley 1581 de 2012 constituye el marco general de la protección de los datos personales en
        Colombia. Que mediante sentencia C-748 del 6 de octubre de 2011 la Corte Constitucional declaró exequible el
        Proyecto de Ley Estatutaria No. 184 de 2010 Senado, 046 de 2010 Cámara.</p>
    </ion-col>

    <ion-col>
      <h2>Política de devoluciones y reembolsos</h2>
      <p>No admiten devoluciones, garantía unicamente por fabricación del producto y calidad de la marcación. Cuando los
        productos son personalizados se envía montaje para aprobación y evidencia digital del producto después de
        marcado. Se pueden hacer reembolsos siempre y cuando los productos no se encuentren en proceso de marcación, por
        que no se podrá realizar devolución del dinero, ni cambio de referencia. El plazo para hacer solicitudes de
        devolución, cambio o reembolso sobre la compra es de 24 horas después de ser entregado el pedido en la dirección
        indicada por el usuario.</p>
    </ion-col>
  </ion-grid>

  <ion-footer>
    <ion-toolbar>
      <app-footer></app-footer>
    </ion-toolbar>
  </ion-footer>
</ion-content>