<ion-header>
  <ion-toolbar>
    <app-header></app-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form [formGroup]="editar" class="ion-padding">
    <div class="button-container-login">

      <ion-card-content>
        <div *ngIf="userData">
          <p style="text-align: center">
            Username: {{ userData.results[0].username_user }}
          </p>
        </div>
        <div *ngIf="!userData">
          <p style="text-align: center">Loading user data...</p>
        </div>
      </ion-card-content>

      <ion-card>

        <ion-item>
          <label for="city_user" class="ion-text-bold"></label>
          <ion-input formControlName="city_user" placeholder="Ciudad"></ion-input>
        </ion-item>

        <ion-item>
          <label for="address_user" class="ion-text-bold"></label>
          <ion-input 
          formControlName="address_user" 
          placeholder="Direccion"></ion-input>
        </ion-item>

        <ion-item>
          <label for="phone_user" class="ion-text-bold"></label>
          <ion-input 
          formControlName="phone_user" 
          placeholder="Telefono"
          oninput="this.value = this.value.replace(/[^0-9]/g, '');">
        </ion-input>
        </ion-item>
        <div *ngIf="editar.get('phone_user')?.hasError('minlength') && editar.get('phone_user')?.touched">
          <ion-text color="danger">El telefono debe tener 10 digios</ion-text>
        </div>
      </ion-card>
    </div>
  </form>

  <ion-button (click)="updateProfile()" color="primary">actualizar</ion-button>

  <div class="button-container-login" flex-direction="column">
    <ion-button color="primary" [routerLink]="['/home']">Back</ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-footer></app-footer>
  </ion-toolbar>
</ion-footer>

